{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Training</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Idtag</th>
                <td>{{ entity.tag }}</td>
            </tr>
            <tr>
                <th>Idcity</th>
                <td>{{ entity.city }}</td>
            </tr>
            <tr>
                <th>Nameuser</th>
                <td>{{ entity.nameUser }}</td>
            </tr>
            <tr>
                <th>Distance</th>
                
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.dateAdd|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('training') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('training_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
